networks:
  postgres_network:
    external: true

services:
  app:
    container_name: note-go
    build:
      context: .
      dockerfile: Dockerfile
    image: note-go
    ports:
      - 3000:3000
    env_file:
      - .env
    environment:
      - APP_ENV=production
      - GIN_MODE=release
    networks:
      - postgres_network